.grid-fx2 {
  grid-template-columns: auto max-content;
}

.animation {
  &:hover::after {
    animation: 500ms delay;
  }
}

@keyframes delay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rounded-inherit {
  border-radius: inherit;
}
